src/lib/workflow-templates/instagram_automation_v1.json
{
  "name": "Instagram Automation Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "{{webhookId}}"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "{{ ($requestBody || $input.first().json).text || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.response.toLowerCase() }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-hello",
      "name": "Check for Hello",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/{{instagramMediaId}}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{instagramAccessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Hi there! Thanks for reaching out to {{brandName}}! 🙌"
            }
          ]
        },
        "options": {}
      },
      "id": "send-hello-reply",
      "name": "Send Hello Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{instagramCredentialId}}",
          "name": "Instagram API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/{{instagramMediaId}}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{instagramAccessToken}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Thanks for your message! Check out our services: {{calendarUrl}}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-default-reply",
      "name": "Send Default Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{instagramCredentialId}}",
          "name": "Instagram API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Check for Hello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Hello": {
      "main": [
        [
          {
            "node": "Send Hello Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Default Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": true,
    "timeZone": "America/New_York"
  },
  "tags": []
}