src/lib/workflow-templates/instagram_dm_automation_v1.json
{
  "name": "Instagram DM Automation",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Instagram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1568, 560],
      "parameters": {
        "multipleMethods": true,
        "path": "{{webhookId}}",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "{{webhookId}}"
    },
    {
      "id": "webhook-verification",
      "name": "Webhook Verification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1344, 80],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "verify-mode",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1120, 80],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      }
    },
    {
      "id": "message-switch",
      "name": "Message Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-1216, 784],
      "parameters": {
        "rules": {
          "values": []
        },
        "options": {
          "ignoreCase": true
        }
      }
    },
    {
      "id": "send-first-message",
      "name": "Send First Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-992, 304],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v24.0/{{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{instagramCredentialId}}",
          "name": "Instagram Access Token"
        }
      }
    }
  ],
  "connections": {
    "Instagram Webhook": {
      "main": [
        [
          {
            "node": "Webhook Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Switch": {
      "main": []
    }
  },
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Asia/Kolkata"
  }
}
